.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 984px;
  padding: 0 148px;
  margin-bottom: 114px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding: 0 48px;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    margin-bottom: 64px;
  }
}

