.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1184px;
  height: 740px;
  margin:0 48px 92px;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    margin: 0 0 92px;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: 480px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    height: 200px;
    margin-bottom: 64px;
  }
}

